.home {
    margin: 0px;
    padding: 0px;
    flex: 1
}

.home__main-content {
    display: grid;
    grid-template-columns: 240px 1fr;
}

.main-content__books {
    display: grid;
    padding: 0px 5px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}