.login {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__logo {
    width:150px;
    height: auto;
    margin: 10px;
}

.login__container {
    width: 20%;
    min-width: 250px;
    padding: 20px;;
    border-radius: 15px;
    box-shadow: 2px 2px 6px #0F1C51;
}

.login__title {
    margin: 10px;
    color: #0F1736;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.login__form--group {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.form__label {
    padding: 3px;
    font-size: 12pt;
    font-weight: bolder;
    color: #0F1736;
    
}

.form__field {
    height: 25px;
    padding: 3px 8px;
    border: 0.1px solid #0F1736;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #818282;
}

.form__remember-pass {
    align-self: flex-end;
    background: none;
    border: none;
    padding: 3px 0px;
    cursor: pointer;
    color: #1F5CBB;
}

.form__remember-pass:hover {
    text-decoration: underline;
}

.form__send-button {
    width: 150px;
    height: 35px;
    align-self: center;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    color: white;
    background-color: #225EBE;
    cursor: pointer;
}

.login__create-account {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: #1F5CBB;
}

.login__create-account:hover {
    text-decoration: underline;
}